body {
    background-color: rgb(0, 0, 77);
}

@font-face {
    font-family: SpaceFont;
    src: url(./SpaceFrigate.ttf);

}

@font-face {
    font-family: SciFied;
    src: url(./SpaceRanger.otf);
}

.container {
    display: flex;
    justify-content: center;
}

form, header {
    color: white;
}

header {
    font-family: SpaceFont, sans-serif;
    font-size: 34px;
    background-color: rgb(40, 52, 68);
    text-align: center;
    padding: 3px;
}

p {
    font-family: SciFied, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    letter-spacing: 1px;
    padding-left: 7px;
    padding-right: 7px;
}

form {
    font-family: SpaceFont, sans-serif;
    padding-left: 7px;
    padding-right: 7px;
}

.imgContainer {
    margin-right: -4px;
}

.gif, .space {
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.gif {
    margin-bottom: -5px;
}

.formContainer {
    width: 500px;
    border: solid 4px white;
    border-radius: 3px;
}

.perInput {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 170px;
    border-radius: 6px;
    border: 2px solid white;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

input:hover, input:focus {
    background-color: rgb(223, 223, 223);
}

input + span {
    position: relative;
}

input:required + span::after {
    font-size: 0.6rem;
    position: absolute;
    content: "required";
    padding: 3px 5px;
    top: -20px;
    left: -60px;
}

input + span::before {
    position: absolute;
    right: -18px;
    top: 3px;
}

input:valid + span::before {
    content: '✓';
    color: green;
    font-size: 1.1rem;
}

input:invalid {
    border: 2px solid red;
}

input:invalid + span::before {
    content: "✖";
    color: red;
}

fieldset {
    padding: 15px 30px;
}

.secondField {
    margin-top: 10px;
    display: flex;
}

.personal {
    padding-bottom: 20px;
}

.perLabel {
    width: 195px;
    display: inline-block;
}

input[type=checkbox] + label{
    display: inline-block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox] + label:before{
    content: "\2714";
    border: 0.1em solid rgb(255, 255, 255);
    border-radius: 0.25em;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.2em;
    color: transparent;
    margin-right: 0.4em;
    vertical-align: bottom;
    color: transparent;
    transition: 0.7s;
}

input[type=checkbox] + label:active::before {
    transform:scale(0);
}

input[type=checkbox]:checked + label:before{
    background-color: rgb(34, 214, 10);
    color: #fff;
    border-color: rgb(34, 214, 10);
}

.thirdField {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.engSVG, .medSVG, .scSVG {
    width: 65px;
    background-color: white;
    border: 2px solid rgb(72, 166, 255);
    border-radius: 4.5px;
    padding: 3px;
    
}

.svgLabel {
    margin-top: 10px;
}

.radBtn {
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-content: center;
    align-items: center;
}

input[type=radio] {
    border: 0;
    clip: rect(0,0,0,0);
    height: 0px;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 0px;
    position: absolute;
}

input[type=radio]:checked + label + label>img,
input[type=radio]:checked:hover + label + label>img {
    background-color:rgb(34, 214, 10);
    border: 2px solid rgb(238, 255, 0);
}

input[type=radio]:hover + label +label>img {
    background-color: rgb(188, 247, 181)
}

